<div class="container">
    <h2>
      Pergunte qualquer coisa ao ChatGPT
    </h2>
    <div>
        <p>
          Este é um aplicativo de demonstração para ver como o ChatGPT responde às suas perguntas sobre tecnologia.
        </p>
    </div>
    <hr>

        <div class="row">
            <div class="col-md-6">
                <div
                    class="form-group">
                    <h3>Solicitação para ChatGPT AI</h3><hr>
                    <!-- <label for="name">Prompt</label> -->
                    <textarea rows="10" placeholder="Digite sua pergunta aqui" class="form-control" cols="6" [(ngModel)]="promptText"></textarea>

                </div>
                <div>
                    <br>
                        <button class="btn btn-primary" (click)="checkResponse()">
                          Verifique a resposta
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Resposta do ChatGPT AI</h3><hr>
                    <h4 *ngIf="showSpinner">Processando ... Por favor aguarde...</h4>
                    <div *ngFor="let choice of response?.choices">
                        <p *ngFor="let data of getText(choice.text)" class="responseStyle">
                            {{data}}
                        <br>
                        </p>
                    </div>
                </div>


            </div>
            <br>
                <h3>Modelos</h3>
                <br>
                    <div class="row">
                        <div class="col-md-6" *ngFor="let item of gptModels">
                            <div class="card">
                                <h5 class="card-header">Name -
                                    {{item.model}}</h5>
                                <div class="card-body">
                                    <h5 class="card-title">Descrição</h5>
                                    <p class="card-text">{{item.description}}</p>
                                    <p>{{item.maxRequest}}</p>
                                    <a href="https://beta.openai.com/docs/models/gpt-3" class="btn btn-primary">Mais detalhes</a>
                                </div>
                            </div>
                            <br></div>

                        </div>
                    </div>

