<div class="center-container">
  <!-- <mat-card> -->
      <!-- <mat-card-content> -->
          <form class="form-container" [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
                  <h1>Login</h1>
                      <label>Email</label>
                      <input matInput formControlName="email" type="email" required [disabled]="isLoading"/>

                      <label>Password</label>
                      <input matInput formControlName="password" type="password" required [disabled]="isLoading"/>

                      <div *ngIf="emailPassInvalid">
                          <span>Incorrect email or password</span>
                      </div>

                  <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">Login</button>
                  <a>Don't have an account?<a mat-button routerLink="/register">Register</a></a>
          </form>
</div>
