
<div class="container">
  <h2 style="text-align: center;">ChatGPT com tecnologia OpenAI</h2>

  <div>
    <br>
    <h3 style="color: orange; text-align: justify;">A OpenAI é uma empresa de pesquisa e implantação de IA. Nossa missão é garantir que a inteligência artificial geral beneficie toda a humanidade.</h3>
  </div>
<br><br>
  <div>
    <p style="font-size: larger;">
      Para experimentar e ver o poder da IA, clique nesta navegação => <a href="#" [routerLink]="['/demo']" routerLinkActive="router-link-active" >DEMONSTRAÇÃO AO VIVO</a>
    </p>
  </div>
</div>
